
/.project
/.classpath
/.settings
/target
/reports
/*.iml
/*.ipr
/*.iws
/.metadata
/.idea/
/bin/
/bdb
/logs
/test-output
jdbc.properties
/doc/~*.doc
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

