<?xml version="1.0" encoding="UTF-8"?>
<serverendpoints>
	<server>
		<id>s1</id>
		<desc>服务端</desc>
		<isvalid>true</isvalid>
		<host>127.0.0.1</host>
		<port>7890</port>
		<endpoints>
			<endpoint>
				<id>s1-1</id>
				<desc>测试用户1</desc>
				<!-- UP,DOWN,DUPLEX -->
				<type>UP</type>
				<isvalid>true</isvalid>
				<group>HeNan</group>
				<user>901782</user>
				<passwd>ICP</passwd>
				<version>48</version>
				<idleTime>30</idleTime>
				<lifeTime>259200</lifeTime>
				<maxRetry>3</maxRetry>
				<retryWaitTime>60</retryWaitTime>
				<maxChannels>10</maxChannels>
				<windows>16</windows>
				<charset>GBK</charset>
				<businessHandlerSet>
					<handler>com.zx.sms.handler.api.gate.SessionConnectedHandler</handler>
				</businessHandlerSet>
			</endpoint>
			<endpoint>
				<id>s1-2</id>
				<desc>测试用户2</desc>
				<!-- UP,DOWN,DUPLEX -->
				<type>UP</type>
				<isvalid>true</isvalid>
				<group>HeBei</group>
				<user>901783</user>
				<passwd>ICP</passwd>
				<version>48</version>
				<idleTime>30</idleTime>
				<lifeTime>259200</lifeTime>
				<maxRetry>3</maxRetry>
				<retryWaitTime>60</retryWaitTime>
				<maxChannels>10</maxChannels>
				<windows>16</windows>
				<charset>GBK</charset>
				<businessHandlerSet>
					<handler>com.zx.sms.handler.api.gate.SessionConnectedHandler</handler>
				</businessHandlerSet>
			</endpoint>
		</endpoints>
	</server>
</serverendpoints>